.category-item {
  overflow: hidden;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 2px 20px gray;
  transition: transform 200ms ease-in;
}

.item-image img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.item-image img:hover {
  transform: scale(1.05);
  transition: transform 500ms ease-in;
  opacity: 0.95;
}

.item-count {
  padding: 0.1rem;
  text-align: center;
}

.item-info h2 {
  padding: 0.2rem;
  text-align: center;
}

.item-info h4 {
  padding: 0.1rem;
  text-align: center;
}

.item-info p {
  padding-bottom: 2rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
