/* .item-list {
  list-style: none;
  margin: 1 rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
} */
.no-item {
  text-align: center;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}
